.UserIndexBox{
    width: 100%;
    
    .NavBanner{
        width: 100%;
        
        height: 73px;
        background: #fff;
        box-shadow: #F67935 0 -1px 0 inset;
        .BannerDetial{
            width: 100%;
            height: 100%;
            max-width: 1366px;
            .GroupBox{
                width: 50%;
                height: 100%;

                .NavGroup{
                    height: 100%;
                    margin-left: 83px;
                    .NavButton{
                        height: 100%;
                        font-size:21px;
                        margin-right: 90px;
                        color: #F67935;
                        font-weight:bold;
                        cursor: pointer;
                        box-shadow: #F67935 0 0px 0 inset;
                        color: #000;
                        transition: box-shadow 0.2s;
                    }
                    .ActNavButton{
                        color: #F67935;
                        box-shadow: #F67935 0 -5px 0 inset;
                    }
                }

                .HandleButtonGroup{
                    height: 100%;
                    margin-right: 83px;
                    .Button{
                        width: 130px;
                        height: 47px;
                        background: #F67935;
                        border-radius:10px;
                        color: #fff;
                        margin-left: 24px;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
    .DetialBox{
        width: 100%;
        // overflow-x: hidden;
        position: relative;
        
        
    }
}