.ListBox {
    width: 100%;
    height: 100%;
    background: linear-gradient( -25deg,#f3da99,#fff8ef);
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    .BGtop{
        width: 289px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        img{
            width: 100%;
        }
    }
    .BGbot{
        width: 289px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: rotate(180deg);
        
        z-index: 0;
        img{
            width: 100%;
        }
    }
    .SearchBox{
        position: relative;
        margin-bottom: 36px;
        z-index: 2;
    }
    .ListBody {
        width: 100%;
        margin-top: 34px;
        position: relative;
        z-index: 1;
        .PageTitle{
            position: relative;
            font-size: 38px;
            color: #ea5e00;
            margin-bottom: 45px;
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateX(calc(-100% - 10px)) translateY(-50%);
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #f67935;
                box-shadow: #fff 0 0 0 1px inset;
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateX(calc(100% + 10px)) translateY(-50%);
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #f67935;
                box-shadow: #fff 0 0 0 1px inset;
            }
        }
        .ListDetialBox{
            margin: 0 auto;
            position: relative;
            z-index: 1;
        }
        .CaseCard {
            width: 647px;
            height: 236px;
            background: linear-gradient( -25deg,#f3da99,#fff8ef);
            box-shadow: rgba($color: #5c5951, $alpha: 0.3) 0 0 15px;
            margin-bottom: 30px;
            border-radius: 23px;
            position: relative;
            .CaseTitle {
                flex-shrink: 0;
                font-size: 30px;
                font-weight: 300;
                color: black;
                margin: 7px 39px;
                margin-top: 35px;
                margin-bottom: 0px;
            }
            .CaseInfo{
                width: calc(100% - 78px);
                margin: 30px auto;
                span{
                    font-size: 22px;
                    color: #353030;
                    display: block;
                    margin: 0 18px;
                }
                span:first-child{
                    margin-left: 0px;
                }
                span:nth-child(3),span:nth-child(4){
                    text-decoration: underline;
                }
            }
            .CaseUpdateTime {
                flex-shrink: 0;
                font-size: 21px;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.7);
                margin: 7px 39px;
            }

            .ButtonGroup {
                flex-shrink: 0;
                width: calc(100% - 78px);
                margin: 0 auto;
                margin-bottom: 24px;

                .HandleButton {
                    width: 151px;
                    height: 36px;
                    box-shadow: rgba($color: #78746f, $alpha: 1.0) 0 0 0 1px inset;
                    border-radius: 24px;
                    font-size: 24px;
                    font-weight: 300;
                    color: #78746f;
                    margin: 0 10px;
                }
                .HandleButton:nth-child(1){
                    box-shadow: rgba($color: #ea5e00, $alpha: 1.0) 0 0 0 1px inset;
                    color: #ea5e00;
                    margin-left: 0px;
                }

                .Colorful {
                    box-shadow: rgba(246, 121, 53, 0.2) 0 0 0 1px inset;
                    color: #f67935;
                }
            }
            .CaseStatus{
                width: 87px;
                position: absolute;
                bottom: 20px;
                right: 20px;
                img{
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    .HandleGroupBox {
        width: 100%;
        height: 187px;
        position: fixed;
        bottom: 0px;
        pointer-events: none;
        z-index: 9;
        transition: bottom 0.5s;

        .ScrollToTop {
            width: 80px;
            height: 80px;
            position: absolute;
            right: 20px;
            top: 50%;
            background: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            pointer-events: all;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-25%) rotate(45deg);
                width: 0px;
                height: 0px;
                border-top: #f67935 15px solid;
                border-left: #f67935 15px solid;
                border-right: transparent 15px solid;
                border-bottom: transparent 15px solid;
            }
        }

        .HandleButtonHide {
            width: 80px;
            height: 80px;
            position: absolute;
            left: 20px;
            top: 50%;
            background: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            pointer-events: all;

            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 5px;
                background: #f67935;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        .HandleButtonShow {
            width: 80px;
            height: 80px;
            position: absolute;
            left: 20px;
            top: 50%;
            background: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            pointer-events: all;

            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 5px;
                background: #f67935;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            &::before {
                position: absolute;
                content: '';
                width: 30px;
                height: 5px;
                background: #f67935;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(90deg);
            }
        }

        .Button {
            width: 151px;
            height: 151px;
            margin: calc(52px / 2);
            background: #f67935;
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(246, 121, 53, 0.24);
            font-size: 24px;
            font-weight: 400;
            color: #fff;
            pointer-events: all;
            transition: 0.3s;
            overflow: hidden;
        }

        .hidden {
            transform: scale(0);
            pointer-events: none;
        }
    }
}