.ChangePassword{
    width:651px;
    height: 552px;
    background: linear-gradient(115deg,#fdfce8,#ebce92);
    position: relative;
    .TitleImage{
        width: 570px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%) translateY(-69px);
        pointer-events: none;
        img{
            width: 100%
        }
    }
    .FormBody{
        width: 100%;
        height: 100%;

        .InputBox{
            width: 524px;
            height: 77px;
            background: #fdfce8;
            box-shadow: #f67936 0 0 0 1px ;
            border-radius: 25px;
            margin: 17px 0;
            input{
                width: 100%;
                height: 100%;
                background: transparent;
                outline: none;
                text-indent: 59px;
            }
        }
    }
    .ConfirmButton{
        width: 270px;
        height: 53px;
        background: #f67935;
        border-radius: 53px;
        margin-top: calc(53px - 17px);
        color: #fff;
        font-size: 26px;
    }
}