.ContentBox {
    width: 100%;
    height: 100%;
    background: linear-gradient(139deg, #fbe9d4 0%, #fcdfbf 2%, #fdca94 7%, #fdb970 13%, #feab52 19%, #fea03b 25%, #ff982b 31%, #ff9321 38%, #ff921e 47%, #fb8718 63%, #ef6b07 90%, #ea5e00 100%);
    overflow: auto;
    background-size: 300% 300%;
    animation: wave 10s infinite;
    position: relative;
    .FixLayer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 9;
      .AlertInfoBox {
        width: 100%;
        height: 100%;
      }
      .Status {
        width: 125px;
      }
      .TextLayer {
        margin-top: 22px;
        span {
          display: block;
          color: #fff;
          &:nth-child(1) {
            font-size: 26px;
            margin-bottom: 18px;
          }
          &:nth-child(2) {
            font-size: 21px;
          }
        }
      }
    }
    .RegisterBox {
      margin: 46px auto 120px auto;
      width: 660px;
      min-height: 1041px;
      height: calc(100% - 46px - 120px);
      background: #fff;
      border-radius: 14px;
      .textbox {
        &:nth-child(1) {
          margin-bottom: 18px;
        }
        &:nth-child(2) {
          margin-bottom: 28px;
        }
      }
      .ActTitle {
        width: 100%;
        font-size: 23px;
        font-weight: bold;
        color: #f67935;
        .logo {
          width: 60px;
          margin-right: 21px;
        }
      }
      .MainTitle {
        width: 100%;
        font-size: 32px;
        font-weight: bold;
        color: #f67935;
      }
      .Welcome {
        width: 100%;
        font-size: 26px;
        color: #ff5a00;
      }
      .InputGroup {
        width: 555px;
        margin: calc(34px - 27px / 2) 0px;
        .InputBox {
          width: 100%;
          height: 86px;
          background: #fcf9f4;
          border-radius: 8px;
          margin: calc(27px / 2) 0px;
          .InputTitle {
            width: 172px;
            height: 100%;
            font-size: 28px;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.6);
            text-indent: 30px;
          }
          .Inputs {
            display: block;
            outline: none;
            background: transparent;
            font-size: 26px;
            width: calc(100% - 172px);
            height: 100%;
          }
        }
      }
      .InformedConsent {
        font-size: 24px;
        font-weight: 300;
        color: #707070;
        margin-bottom: 38px;
        .CheckBox {
          width: 30px;
          height: 30px;
          box-shadow: #c4c4c4 0 0 0 1px inset;
          margin-right: 13px;
        }
        .ActCheckBox {
          position: relative;
          &::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 15px;
            transform-origin: 50% 100%;
            left: 55%;
            top: 70%;
            transform: translateX(-50%) translateY(-100%) rotate(-45deg);
            background: #34b93d;
            border-radius: 5px;
          }
          &::before {
            position: absolute;
            content: '';
            width: 8px;
            height: 30px;
            transform-origin: 50% 100%;
            left: 45%;
            top: 70%;
            transform: translateX(-50%) translateY(-100%) rotate(45deg);
            background: #34b93d;
            border-radius: 5px;
          }
        }
        .text {
          display: block;
        }
      }
      .RegButton {
        width: 275px;
        height: 62px;
        background: #f67935;
        box-shadow: 0px 0px 20px rgba(246, 121, 53, 0.24);
        opacity: 1;
        border-radius: 6px;
        font-size: 28px;
        font-weight: 500;
        color: white;
      }
    }
  }
  

@keyframes rotate {
    0% {
        transform: translateX(-50%) translateY(-100%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) translateY(-100%) rotate(360deg);
    }
}

@keyframes wave {
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }

    25% {
        background-position-x: 100%;
        background-position-y: 0%;
    }

    50% {
        background-position-x: 100%;
        background-position-y: 100%;
    }

    75% {
        background-position-x: 0%;
        background-position-y: 100%;
    }

    100% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
}