.ContentBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background: linear-gradient(139deg, #fbe9d4 0%, #fcdfbf 2%, #fdca94 7%, #fdb970 13%, #feab52 19%, #fea03b 25%, #ff982b 31%, #ff9321 38%, #ff921e 47%, #fb8718 63%, #ef6b07 90%, #ea5e00 100%);
    // overflow: auto;
    // background-size: 300% 300%;
    // animation: wave 10s infinite;
    background: linear-gradient(380deg,rgba($color: #EECF86, $alpha: 0.6) 0%,rgba($color: #F8E8B5, $alpha: 0.6) 45.3%,rgba($color: #FFFDE6, $alpha: 0.6) 86.44%);
    position: relative;
    .FixLayer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 9;
      .AlertInfoBox {
        width: 100%;
        height: 100%;
      }
      .Status {
        width: 125px;
      }
      .TextLayer {
        margin-top: 22px;
        .CheckCodeButtonGroup{
          width: 100%;
          height: 45px;

          .Button{
            width: 135px;
            height: 100%;
            background: #F67935;
            border-radius: 5px;
            margin: 15px;
            color: #fff;
            font-size: 20px;
          }
        }
        span {
          display: block;
          color: #fff;
          &:nth-child(1) {
            font-size: 26px;
            margin-bottom: 18px;
          }
          &:nth-child(2) {
            font-size: 21px;
          }
        }
      }
    }
    .TitleLogo{
      width: 100%;
      img{
        display: block;
        width: 721px;
        margin: 0 auto;
      }
    }
    .RegisterBox {
      margin: 0 auto ;
      width: 100%;
      min-height: 1041px;
      height: calc(100% - 139px);
      // height: calc(100% - 46px - 120px);
      // background: #fff;
      border-radius: 14px;
      // .textbox {
      //   &:nth-child(1) {
      //     margin-bottom: 18px;
      //   }
      //   &:nth-child(2) {
      //     margin-bottom: 28px;
      //   }
      // }
      // .ActTitle {
      //   width: 100%;
      //   font-size: 23px;
      //   font-weight: bold;
      //   color: #f67935;
      //   .logo {
      //     width: 60px;
      //     margin-right: 21px;
      //   }
      // }
      // .MainTitle {
      //   width: 100%;
      //   font-size: 32px;
      //   font-weight: bold;
      //   color: #f67935;
      // }
      // .Welcome {
      //   width: 100%;
      //   font-size: 26px;
      //   color: #ff5a00;
      // }
      
      .InputGroup {
        width: 100%;
        margin: calc(34px - 27px / 2) 0px;
        .InputBox {
          width: 599px;
          height: 75px;
          background: #fff;
          box-shadow: #F3C05E 0 0 0 1px;
          border-radius: 8px;
          margin: calc(27px / 2) 0px;

          .PhoneCodeButton{
            width: 100%;
            height: 100%;
            font-size: 30px;
            color: #ED9027;
          }
          .InputTitle {
            width: 172px;
            height: 100%;
            font-size: 28px;
            font-weight: 300;
            color: #ED9027;
            text-indent: 30px;
          }
          .Inputs {
            display: block;
            outline: none;
            background: transparent;
            font-size: 26px;
            width: calc(100% - 172px);
            height: 100%;
          }
        }
      }
      .InformedConsent {
        font-size: 24px;
        font-weight: 300;
        color: #707070;
        margin-bottom: 38px;
        .CheckBox {
          width: 30px;
          height: 30px;
          box-shadow: #c4c4c4 0 0 0 1px inset;
          margin-right: 13px;
        }
        .ActCheckBox {
          position: relative;
          &::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 15px;
            transform-origin: 50% 100%;
            left: 55%;
            top: 70%;
            transform: translateX(-50%) translateY(-100%) rotate(-45deg);
            background: #34b93d;
            border-radius: 5px;
          }
          &::before {
            position: absolute;
            content: '';
            width: 8px;
            height: 30px;
            transform-origin: 50% 100%;
            left: 45%;
            top: 70%;
            transform: translateX(-50%) translateY(-100%) rotate(45deg);
            background: #34b93d;
            border-radius: 5px;
          }
        }
        .text {
          display: block;
        }
      }
      .RegButton {
        width: 275px;
        height: 62px;
        background: #f67935;
        box-shadow: 0px 0px 20px rgba(246, 121, 53, 0.24);
        opacity: 1;
        border-radius: 6px;
        font-size: 28px;
        font-weight: 500;
        color: white;
      }

      .RegisterBottom{
        width: 100%;
        img{
          width: 100%;
          display: block;
        }
      }
    }
  }
  

@keyframes rotate {
    0% {
        transform: translateX(-50%) translateY(-100%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) translateY(-100%) rotate(360deg);
    }
}

@keyframes wave {
    0% {
        background-position-x: 0%;
        background-position-y: 0%;
    }

    25% {
        background-position-x: 100%;
        background-position-y: 0%;
    }

    50% {
        background-position-x: 100%;
        background-position-y: 100%;
    }

    75% {
        background-position-x: 0%;
        background-position-y: 100%;
    }

    100% {
        background-position-x: 0%;
        background-position-y: 0%;
    }
}

.BeforeregBox{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background: linear-gradient(118.3deg,#FFFDE6 13%,#F8E8B5 54%,#EECF86 100%);
  .ProjectInfoBox{
    width: 666px;
    position: relative;
    img{
      width: 100%;
      display: block;
    }
    .NextButton{
      position: absolute;
      bottom: 184px;
      left: 50%;
      transform: translateX(-50%);
      width: 260px;
      height: 80px;
      background: linear-gradient(-27deg,#F3C05E,#E66C00);
      box-shadow: rgba($color: #CE5300, $alpha: 0.6) 0 0 16px;
      border-radius: 40px;
      font-size: 32px;
      font-weight: bold;
      color: #fff;
    }
  }
}

.InformedConsent{
  background: rgba($color: #fff, $alpha: 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;

  .InformedConsentContent{
    width: 628px;
    height: 1016px;
    background: linear-gradient(-25deg,#EECF86,#F8E8B5,#FFFDE6);
    border-radius: 10px 10px 0 0;

    .TitleBox{
      width: 535px;
      img{
        width: 100%;
      }
    }
    .NameTitle{
      width: 358px;
      img{
        width: 100%;
      }
    }

    .Content{
      margin-top: -30px;
      width: 535px;
      height: 476px;
      overflow: scroll;
      word-break: break-all;
      font-size: 24px;
      color: #EA5E00;
      line-height: 51.6px;
      font-weight: 400;
      text-align:justify;
    }

    .ConfirmButton{
      width: 274px;
      height: 61px;
      margin: 63px 0;
      background: #EA5E00;
      border-radius: 8px;
      font-size: 24px;
      color: #fff;
      font-weight: bold;
    }
  }
}