.ListBox {
    width: 100%;
    height: 100%;
    background: rgba(229, 229, 229, 0.41);
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;

    .ListBody {
        width: 100%;
        margin-top: 34px;

        .CaseCard {
            width: 680px;
            height: 236px;
            background: #fff;
            margin-bottom: 30px;
            border-radius: 23px;

            .CaseTitle {
                flex-shrink: 0;
                font-size: 30px;
                font-weight: 300;
                color: black;
                margin: 7px 39px;
                margin-top: 35px;
            }

            .CaseUpdateTime {
                flex-shrink: 0;
                font-size: 21px;
                font-weight: 300;
                color: rgba(0, 0, 0, 0.7);
                margin: 7px 39px;
            }

            .ButtonGroup {
                flex-shrink: 0;
                width: 619px;
                margin: 0 auto;
                margin-bottom: 24px;

                .HandleButton {
                    width: 151px;
                    height: 47px;
                    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
                    border-radius: 24px;
                    font-size: 24px;
                    font-weight: 300;
                    color: rgba(0, 0, 0, 0.6);

                    &:nth-child(1) {
                        margin-right: 177px;
                    }

                    &:nth-child(2) {
                        margin-right: 27px;
                    }
                }

                .Colorful {
                    box-shadow: rgba(246, 121, 53, 0.2) 0 0 0 1px inset;
                    color: #f67935;
                }
            }
        }
    }

    .HandleGroupBox {
        width: 100%;
        height: 187px;
        position: fixed;
        bottom: 0px;
        pointer-events: none;
        z-index: 9;
        transition: bottom 0.5s;

        .ScrollToTop {
            width: 80px;
            height: 80px;
            position: absolute;
            right: 20px;
            top: 50%;
            background: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            pointer-events: all;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-25%) rotate(45deg);
                width: 0px;
                height: 0px;
                border-top: #f67935 15px solid;
                border-left: #f67935 15px solid;
                border-right: transparent 15px solid;
                border-bottom: transparent 15px solid;
            }
        }

        .HandleButtonHide {
            width: 80px;
            height: 80px;
            position: absolute;
            left: 20px;
            top: 50%;
            background: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            pointer-events: all;

            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 5px;
                background: #f67935;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        .HandleButtonShow {
            width: 80px;
            height: 80px;
            position: absolute;
            left: 20px;
            top: 50%;
            background: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            pointer-events: all;

            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 5px;
                background: #f67935;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            &::before {
                position: absolute;
                content: '';
                width: 30px;
                height: 5px;
                background: #f67935;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(90deg);
            }
        }

        .Button {
            width: 151px;
            height: 151px;
            margin: calc(52px / 2);
            background: #f67935;
            border-radius: 50%;
            box-shadow: 0px 3px 20px rgba(246, 121, 53, 0.24);
            font-size: 24px;
            font-weight: 400;
            color: #fff;
            pointer-events: all;
            transition: 0.3s;
            overflow: hidden;
        }

        .hidden {
            transform: scale(0);
            pointer-events: none;
        }
    }
}