.HomeBox
{
    width: 100%;
    min-height: 100%;
    min-width: 1366px;
    // background: linear-gradient(90deg,#fbe9d5 0%,#eb5f00 100%);
    background-size: 100% auto;
    // background-position: 50% 100%;
    background-repeat: no-repeat;
    .BkgBox{
        width: 100%;
        height: 100%;
        right: 0px;
        top: 0px;
        position: fixed;
        z-index: -1;
        opacity: 1;
        background: linear-gradient(135deg,#FBE9D4 40px,#FF921E, #ea5e00 60%);
    }
    .Topbkg{
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
}